<!-- Banner -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80);">
  <div class="container text-center">
    <h1>Thirsty? We've got what you need</h1>
    <p>Best cocktails from all around the world</p>
  </div>
</div>

<div class="container">
  <h1 class="text-center">Our delicious cocktails</h1>
<!-- End of banner -->

<!-- Cards -->

<div class="container">
  <div class="row">
   <% @cocktails.each do | cocktail | %>
     <div class="col-xs-12 col-sm-4">
      <div class="card">
       <div class="card-description" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/300x300/?cocktail">
         <p class="cocktail-name"><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
       </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<!-- End of cards -->

<div class="container text-center">
  <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn call-to-action" %>
</div>

<!-- Testimonials -->

  <section class="testimonials text-center bg-light">
    <div class="container testimonials-container">
      <h2 class="testimonials-title">What people are saying about us</h2>
      <div class="row">

        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag("testimonials-1.jpg", class: "img-circle") %>
            <h5 class="client">Valentine</h5>
            <p class="font-weight-light mb-0">"They are indeed the best cocktails!"</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag("testimonials-2.jpg", class: "img-circle") %>
            <h5 class="client">Elie</h5>
            <p class="font-weight-light mb-0">"Thank you for making me discover all these flavors!"</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <%= image_tag("testimonials-3.jpg", class: "img-circle") %>
            <h5 class="client">Karolina</h5>
            <p class="font-weight-light mb-0">"So many awesome parties thanks to you!"</p>
          </div>
        </div>
      </div>
    </div>
  </section>

